<%- include("./partials/header.ejs") %>
    <body style="background-color: purple;">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <div class="card-body">
                                        <form action="/login" method="POST">
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="error" type="email" name="email" placeholder="name@example.com" />
                                                <label for="email">Email address</label>
                                                <div class="email error text-center font-weight-light text-danger"></div>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="password" type="password" name="password" placeholder="Password" />
                                                <label for="password">Password</label>
                                                <div class="password error text-center font-weight-light text-danger"></div>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                                <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="">Forgot Password?</a>
                                                <button style="background-color: purple; color: #fff" type="submit" class="btn">Login</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="">Need an account? Sign up!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <%- include('./partials/footer.ejs') %>
            </div>
        </div>
        <!-- <%- include('./partials/scripts.ejs') %> -->
    </body>

    <script>
        const form = document.querySelector('form');
        const emailError = document.querySelector('.email.error');
        const passwordError = document.querySelector('.password.error');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            // reset errors
            emailError.textContent = "";
            passwordError.textContent = "";

            //getting the values
            const email = form.email.value;
            const password = form.password.value;

            try {
                const res = await fetch('/login', {
                    method: "POST",
                    body: JSON.stringify({ email, password }),
                    headers: { 'Content-Type': 'application/json' }
                });

                // Check if response status is not in the 200-299 range
                if (!res.ok) {
                    throw new Error('Network response was not ok');
                }

                const data = await res.json();
                console.log(data);
                if (data.errors) {
                    emailError.textContent = data.errors.email;
                    passwordError.textContent = data.errors.password;
                }
                if (data.user) {
                    location.assign('/');
                }
            }
            catch (err) {
                console.log(err);
            }
        });
    </script>

</html>
